@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

:root {
  --main-bg-color: rgb(44, 115, 182);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-bg-color);
  min-height: 8vh;
}

nav ul {
  list-style: none;
}

.nav-links {
  z-index: 1;
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-links a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
  padding: 10px;
  border-radius: 6px;
}

.nav-links a:hover {
  color: black;
  background-color: rgb(238, 238, 238);
}

.logo {
  display: flex;
  color: rgb(238, 238, 238);
  letter-spacing: 5px;
  font-size: 20px;
  align-items: center;
  /* border: 1px solid red; */
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: rgb(238, 238, 238);
  margin: 5px;
  transition: all 0.3s ease;
}

.wrapper {
  padding: 10px;
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;

  /* border: 2px solid orange; */
}

.wrapper h3,
.wrapper h2,
.wrapper h1 {
  font-weight: normal;
}

.card {
  background-color: #eee;
  padding: 15px;
  border-radius: 6px;
  width: 70%;
  margin: 0 10px;
  max-height: 400px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05), 0 8px 10px rgba(0, 0, 0, 0.2);
}

.sideContent {
  /* padding: 15px; */
  flex: 1;
  height: 50vh;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05), 0 8px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  list-style: none;
}

.sideContent a {
  color: black;
  text-decoration: none;
  transition: color 200ms ease-in;
}

.sideContent a:hover,
.sideContent a:focus {
  color: var(--main-bg-color);
}

.sideContent ul,
.sideContent li {
  list-style: none;
}

.sideContent-header {
  background-color: rgb(44, 115, 182);
  color: white;
  border-radius: 6px 6px 0 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sideContent-header > * {
  padding: 0 5px;
}

.sideContent-main {
  padding: 10px 15px 5px 15px;
}

.fa-chalkboard-teacher,
.fa-chalkboard {
  margin-right: 10px;
  transform: scale(1.5, 1.5);
}

.fa-calendar-check,
.fa-candy-cane {
  font-size: 24px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  width: 75px;
  height: calc(100vh + 8vh);
  float: left;
  clear: both;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding: 5px;
  transition: background-color 300ms ease-out;
  /* border: 1px solid red; */
}

.sidebar-item i {
  color: var(--main-bg-color);
  font-size: 36px;
  margin-bottom: 3px;
}

.sidebar-item:hover,
.sidebar-item:focus {
  background-color: #ccc;
  cursor: pointer;
}

.sidebar button {
  border: none;
  color: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.appointments {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.appointment {
  border-radius: 0 0 3px 3px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05), 0 8px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.appointment-button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  background-color: #eee;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 250ms, color 250ms;
  border-radius: 6px;
  grid-column: 1 / -1;
}

.appointment-button:hover {
  background-color: var(--main-bg-color);
  color: white;
}

.appointment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 10px 15px;
  background-color: var(--main-bg-color);
  color: white;
  width: 100%;
  border-radius: 3px 3px 0 0;
  font-size: 18px;
}

.title {
  margin-bottom: 15px;
}

.nav-active {
  transform: translateX(50%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.availabilityTable {
  border-collapse: collapse;
  width: 300px;
  margin-bottom: 15px;
}

.availabilityTable td {
  padding: 10px;
  text-align: left;
}

.availabilityTable tr:nth-child(even) {
  background-color: rgba(44, 115, 182, 0.2);
}

.availabilityTable tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

.availabilityTable th {
  text-align: left;
  background-color: var(--main-bg-color);
  color: white;
  padding: 5px;
}

.add-holiday-form,
.change-availability {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05), 0 8px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.add-holiday-form input[type="date"] {
  border: none;
  background-color: #eee;
  padding: 5px;
  border-radius: 6px;
  text-align: center;
}

.add-holiday-form-header,
.change-availability-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  color: white;
  background-color: var(--main-bg-color);
  border-radius: 3px 3px 0 0;
}

.add-holiday-form-content,
.change-availability-content {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 10px;
  justify-content: center;
}

.change-availability-content {
  display: inline-block;
}

.change-availability-content button {
  padding: 5px;
}

.info {
  background-color: #eee;
  padding: 10px;
  width: 100%;
  color: rgb(50, 50, 50);
  text-align: center;
  grid-column: 1 / -1;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tutor-subjects {
  list-style: none;
}

.hide_box {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }

  .wrapper {
    width: 100%;
  }

  .sidebar {
    flex-direction: row;
    height: 75px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: red;
  }

  .sidebar-item {
    width: calc(100vw / 3);
    background-color: transparent;
  }

  .sidebar-item i {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    justify-content: space-between;
    padding: 0 20px;
    font-size: 12px;
  }

  nav h3 {
    font-size: 20px;
  }

  .wrapper {
    flex-direction: column;
  }

  .card {
    margin: 0 0 10px 0;
    width: 100%;
    height: auto;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .wrapper {
    width: 100%;
  }

  .fa-chalkboard-teacher,
  .fas {
    display: none;
  }

  .add-holiday-form-content {
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 110px 120px;
    grid-row-gap: 5px;
  }

  .appointments {
    margin: 0 0 20px 0;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
